body {
	margin: 0;
	background-color: $gray-lighter;
}

.gray {
	color: #eceeef;
}

.content {
	width: 100%;
	background-color: white;
	margin: 0 auto 0 auto;
	max-width: 1300px;
}

.posts-navigation {
	display: none;
}

iframe#dsq-app1 {
	position: relative;
	margin-bottom: 40px;
}